@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Scrollbar Styles for WebKit browsers (Safari, Chrome, etc.) */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track in light mode */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb in light mode */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover in light mode */
}

:root {
  --bg-color: #f5f3ee;
  --text-color: #1c1917;
  --shadow-color: rgba(0, 0, 0, 0.2); /* Light mode shadow */
}

.dark {
  --bg-color: #080b0f;
  --text-color: #f8fafc;
  --shadow-color: rgba(255, 255, 255, 0.5); /* Dark mode shadow */
  
  /* Dark mode scrollbar styles */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark mode scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background: #555; /* Dark mode scrollbar thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Dark mode scrollbar thumb on hover */
  }
}

html,
body,
#root {
  min-height: 100%;
  background: var(--bg-color);
}

html {
  color: var(--text-color);
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

.grid-item {
  /* min-width: 158px;
  min-height: 82px; */
  border-radius: 50px;
  box-shadow: 0 0px 8px var(--shadow-color);
  transition: all 0.4s ease-out;
}

.grid-item:hover {
  transform: translate(-10px, -10px);
  cursor: pointer;
}
.no-hover {
  @apply transform-none cursor-default !important;
}

/* Responsive media queries */
@media (max-width: 1024px) {
  /* For tablets*/
  .grid-item {
    /* min-width: 100px;
    min-height: 60px; */
  }
}

@media (max-width: 768px) {
  /* For mobile */
  .grid-item {
    min-width: 250px;
    max-height: 300px;
    min-height: 220px;
  }
}

@keyframes marquee {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.animate-marquee {
  animation: marquee var(--animation-duration, 50s) var(--animation-direction, forwards) linear infinite;
}
